.App {
  text-align: center;
}

.App {
  width: 100%;
  height: 100%;

  background-size: 100vh 600px;
}

html {
  width: 100%;
  height: 100%;
  background: url('./assets/background-2.png');
  background-size: 100% 100%;
  animation: clouds_anim 150s linear infinite;
}

@keyframes clouds_anim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2122px, 0;
  }
}

.username-container {
  margin: 5%;
}
.fa-medkit {
  color: white;
  font-size: 3rem;
}

.game-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

canvas {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid white;
}
