.App {
  text-align: center;
}

.tutorial-container {
  margin: 5% auto;
  border: 2px solid black;
  width: 80%;
  height: 550px;
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: rgb(255, 99, 71);
  color: white;
}
.tutorial-header {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin-top: 4%;
}

.tutorial-howToPlay-container {
  width: 80%;
  height: 350px;
  /* border: 2px solid black; */
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  background-color: rgb(243, 122, 101);
}
/* .tutorial-paragraph-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
} */
/* .tutorial-paragraph {
  color: yellow;
  font-family: 'Arial';
  font-size: 30px;

  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  /* added animation property to show the character one at a time*/
/* animation: type 8s steps(60, end);
} */

@keyframes type {
  from {
    width: 0;
  }
}
